@import url(http://fonts.googleapis.com/css?family=Vidaloka);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed);

body {
     background: url('https://s3.amazonaws.com/craps_buzz/craps_buzz.jpg');
      height: 100%;
      margin: 0;
      overflow-x: hidden;
      overflow-y: auto;
      background-size:2200px auto;
      padding: 0;
      width: 100%;
      background-image: url("https://s3.amazonaws.com/craps_buzz/craps_buzz.jpg");
      background-repeat: no-repeat;
      background-position: top center;
      background-attachment: fixed;       
      
}

.btn-darkest {
  color: #ffffff;
  background-color: #777777;
  border-color: #777777;
  height: 36px;
}
.btn-darkest:hover,
.btn-darkest:focus,
.btn-darkest:active,
.btn-darkest.active,
.open .dropdown-toggle.btn-darkest {
  color: #ffffff;
  background-color: #636363;
  border-color: #585858;
}
.btn-darkest:active,
.btn-darkest.active,
.open .dropdown-toggle.btn-darkest {
  background-image: none;
}
.btn-darkest.disabled,
.btn-darkest[disabled],
fieldset[disabled] .btn-darkest,
.btn-darkest.disabled:hover,
.btn-darkest[disabled]:hover,
fieldset[disabled] .btn-darkest:hover,
.btn-darkest.disabled:focus,
.btn-darkest[disabled]:focus,
fieldset[disabled] .btn-darkest:focus,
.btn-darkest.disabled:active,
.btn-darkest[disabled]:active,
fieldset[disabled] .btn-darkest:active,
.btn-darkest.disabled.active,
.btn-darkest[disabled].active,
fieldset[disabled] .btn-darkest.active {
  background-color: #777777;
  border-color: #777777;
}

.container {
  position: absolute;
  top: 5%;
  left: 0;
  right: 0;
}

.come_bet_numbers {
  width: 100%;
}

.well {
  padding: 5px;
}

.come_bet_button {
  width: 100%;
}

.darkside_colors {
  color: white;
  background-color: black;
}

.double_wide {
  height: 50px;
  width: 116px;
}

.point_num_font_darkside {
  font-family: 'Vidaloka', serif;
  text-align: center;
  color: white;
}

.dice_size {
  letter-spacing: -12px;
  text-align: center;
  font-size: 80px;
  line-height: 50px;
}

.dice_fade {
  opacity: 1;
}

.point_num_height {
  min-height: 47px;
}

.coin_style {
  font-size: 20px;
}

.field_num_size {
  font-size: 12px;
}

.point_num_size {
  font-size: 24px;
}

.point_num_font {
  font-family: 'Vidaloka', serif;
  text-align: center;
  font-weight: bold;
  color: black;
}

.dealer_calls {
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  line-height: 16px;
}

.dealer_calls_micro {
  line-height: 12px;
}


.disclaimer_for_game {
  font-size: 10px;
  text-align: center;
}

.dont_come_bar {
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
}

.game_helper_button {
  max-height: 10px;
  font-size: 14px;
  line-height: 0;
  opacity: .5;
}

.point_numbers {
  min-width: 50px;
}


.game_status_headline {
  background-color: black;
  color: white;
}

.player_rescue-true {
  background-color: red;
  color: white;
}

.winning_bet-true {
  color: #00CD66;
}

.losing_bet-true {
  color: red;
}

.app_pitch {
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
  font-weight: bold;
  font-size: 22px;
  color: black;
}

ul
{
    list-style: none;
    padding-left:0;
}


@-webkit-keyframes fade-in{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}
.text-animated-one{
    opacity:1;
    display:inline;
    position:relative;
    -webkit-animation:fade-in 1s 1;
    -webkit-animation-delay:0s;
}
.text-animated-two{
    opacity:1;
    display:inline;
    position:relative;
    -webkit-animation:fade-in 1s 1;
    -webkit-animation-delay:0s;
}


.notice_board {
    opacity:1;
    display:inline;
    position:relative;
    -webkit-animation:fade-in 2s 1;
    -webkit-animation-delay:0s;
}



//.btn-default {
//  min-width: 56px;
//}
// Bootstrap Mid-Small - col-ms-* - the missing grid set for Bootstrap3.
//
// This is a hack to fill the gap between 480 and 760 pixels - a missing range
// in the bootstrap responsive grid structure.  Use these classes to style pages
// on cellphones when they transition from portrait to landscape.
//
// NOTE: Here I use SASS instead of LESS for styling.  To convert to LESS
// replace '$screen' with '@screen' and '$grid' with '@grid'.
//
// See https://github.com/twbs/bootstrap/issues/10203 for more info.
//
// Columns, offsets, pushes, and pulls for the ms device range, from phones
// to tablets.
//
// Note that `.col-ms-12` doesn't get floated on purpose—there's no need since
// it's full-width.

// ----- common styles - from twbs/bootstrap/blob/master/less/grid.less -----

.col-ms-1,
.col-ms-2,
.col-ms-3,
.col-ms-4,
.col-ms-5,
.col-ms-6,
.col-ms-7,
.col-ms-8,
.col-ms-9,
.col-ms-10,
.col-ms-11,
.col-ms-12 {
 position: relative;
 min-height: 1px;
 padding-left: 30px;
 padding-right: 30px;
}

@media (min-width: 480px) and (max-width: 767px) {
 .container {
   max-width: 747px;
 }

 .col-ms-1,
 .col-ms-2,
 .col-ms-3,
 .col-ms-4,
 .col-ms-5,
 .col-ms-6,
 .col-ms-7,
 .col-ms-8,
 .col-ms-9,
 .col-ms-10,
 .col-ms-11 {
   float: left;
 }

 .col-ms-1 {
   width: 8.33333%;
 }

 .col-ms-2 {
   width: 16.66667%;
 }

 .col-ms-3 {
   width: 25%;
 }

 .col-ms-4 {
   width: 33.33333%;
 }

 .col-ms-5 {
   width: 41.66667%;
 }

 .col-ms-6 {
   width: 50%;
 }

 .col-ms-7 {
   width: 58.33333%;
 }

 .col-ms-8 {
   width: 66.66667%;
 }

 .col-ms-9 {
   width: 75%;
 }

 .col-ms-10 {
   width: 83.33333%;
 }

 .col-ms-11 {
   width: 91.66667%;
 }

 .col-ms-12 {
   width: 100%;
 }

 .col-ms-push-1 {
   left: 8.33333%;
 }

 .col-ms-push-2 {
   left: 16.66667%;
 }

 .col-ms-push-3 {
   left: 25%;
 }

 .col-ms-push-4 {
   left: 33.33333%;
 }

 .col-ms-push-5 {
   left: 41.66667%;
 }

 .col-ms-push-6 {
   left: 50%;
 }

 .col-ms-push-7 {
   left: 58.33333%;
 }

 .col-ms-push-8 {
   left: 66.66667%;
 }

 .col-ms-push-9 {
   left: 75%;
 }

 .col-ms-push-10 {
   left: 83.33333%;
 }

 .col-ms-push-11 {
   left: 91.66667%;
 }

 .col-ms-pull-1 {
   right: 8.33333%;
 }

 .col-ms-pull-2 {
   right: 16.66667%;
 }

 .col-ms-pull-3 {
   right: 25%;
 }

 .col-ms-pull-4 {
   right: 33.33333%;
 }

 .col-ms-pull-5 {
   right: 41.66667%;
 }

 .col-ms-pull-6 {
   right: 50%;
 }

 .col-ms-pull-7 {
   right: 58.33333%;
 }

 .col-ms-pull-8 {
   right: 66.66667%;
 }

 .col-ms-pull-9 {
   right: 75%;
 }

 .col-ms-pull-10 {
   right: 83.33333%;
 }

 .col-ms-pull-11 {
   right: 91.66667%;
 }

 .col-ms-offset-1 {
   margin-left: 8.33333%;
 }

 .col-ms-offset-2 {
   margin-left: 16.66667%;
 }

 .col-ms-offset-3 {
   margin-left: 25%;
 }

 .col-ms-offset-4 {
   margin-left: 33.33333%;
 }

 .col-ms-offset-5 {
   margin-left: 41.66667%;
 }

 .col-ms-offset-6 {
   margin-left: 50%;
 }

 .col-ms-offset-7 {
   margin-left: 58.33333%;
 }

 .col-ms-offset-8 {
   margin-left: 66.66667%;
 }

 .col-ms-offset-9 {
   margin-left: 75%;
 }

 .col-ms-offset-10 {
   margin-left: 83.33333%;
 }

 .col-ms-offset-11 {
   margin-left: 91.66667%;
 }
}


/*@media (max-width: 768px){
  .btn {
   font-size: 0.5em;
  }
}


